---
layout: single
title: "2023/24 Round Robin Tournament"
classes: wide
---
{{ content }}

<style>
    {% if page.verticalBorders %}
    /* Enable vertical table borders for this page. Tis will be overridden
    by the below script if javascript is enabled. */
    td {
        border-right: 1px solid #afa58f;
        border-left: 1px solid #afa58f;
    }
    {% endif %}

    /* Extra wide page for the table */
    .page {
        width: 100%;
    }
</style>

<script>
    function fixTable(table) {
        for (var i = 1, row; row = table.rows[i]; i++) {
            for (var j = 0, cell; cell = row.cells[j]; j++) {
                // set vertical table borders to the same as bottom border
                let cellStyle = getComputedStyle(cell);
                let borderColor = cellStyle.borderBottomColor;
                let borderWidth = cellStyle.borderBottomWidth;
                let borderStyle = cellStyle.borderBottomStyle;
                {% if page.verticalBorders %}
                let newCellStyle = "border-left:"+borderWidth+" "+borderStyle+" "+borderColor+";border-right:"+borderWidth+" "+borderStyle+" "+borderColor+";"
                {% endif %}
                cell.style = newCellStyle;

                {% if page.cellBlank %}
                if (cell.innerHTML == "{{ page.cellBlank }}") {
                    // Swap cells containing 'x' for solid border color
                    cell.innerHTML = "";
                    cell.style = newCellStyle+";background:"+borderColor+";";
                }
                {% endif %}
            }
        }
    }

    let tables = document.getElementsByTagName("table");
    for (var i = 0, table; table = tables[i]; i++) {
        fixTable(table)
    }
</script>
